:root{
    --azul--:#052E5E;
    --crema--: rgb(225, 215, 196);
    --blanco--: white;
    --gris--: #ECEFEF;
    --rojo--: #A60000;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Pantalla PC*/
@media screen and (min-width: 480px) {
  
    .principal{
        width: 100%;
        padding: 2% 2%;
        margin-bottom: 5%;
        
    }

    /*Pantalla de Inicio*/
    .fondoInicio{
        position:static;
        width: 100%;
        height: 560px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .fondoInicio img{
        width: 100%;
        max-height: 560px;
    }

    .btnReservarInicio{
        position: absolute;
        margin: 0%;
        left: auto;
        top: 75%;
        border: none;
        cursor: pointer;
        background-color: rgba(255, 254, 254, 0.5);
        color: var(--azul--);
        padding: 10px 20px; 
        border-radius: 10px; 
        transition: background-color 0.3s;
        width: 160px;
        height: 40px;
        
    }

    /*Reservas*/
    .titulo_contenedor{
        background-color: var(--crema--);
        display: grid;
        height: 50px;
        text-align: center;
        align-content: center; 
    }

    .container{
        width: 100%;
        /* height: 400px; */
        display: grid;
        grid-template-columns: 20% 60% 20%;
        
    }

    .nombre-deportes{
        background-color: var(--gris--);
        display: grid;
        grid-template-rows: 20% 20% 20% 20% 20%;
        width: 100%;
        /* height: 400px; */
    }

    .deporte{ 
        border: solid 1px var(--blanco--); 
        text-decoration: none;
        text-align: center;
        align-content: center;
        color: var(--azul--);
        cursor: pointer;
    }

    .deporte:hover{
        background-color: var(--azul--);
        color: var(--gris--);
    }

    .nombre-implementos{
        background-color: var(--gris--);
        display: grid;
        grid-template-rows: 20% 20% 20% 20% 20%;
        width: 100%;
        /* height: 400px; */
    }

    .implemento{ 
        border: solid 1px var(--blanco--); 
        text-decoration: none;
        text-align: center;
        align-content: center;
        color: var(--azul--);
        cursor: pointer;
    }

    .implemento:hover{
        background-color: var(--azul--);
        color: var(--gris--);
    }

    .canchas-cards{
        padding: 30px;
        display: flex;
        flex-wrap: wrap; 
        padding: 3% 5%;
        row-gap: 30px;
        column-gap: 10%;
        /* height: 380px; */
        justify-content: center;
    }

    .cancha-card{
        display: grid;
        justify-content: center;
        text-align: center;
        grid-template-rows: 65% 10% 25%;
        gap: 10px;
        padding: 10px;
        border-radius: 10px;
        width: 250px;
        height: 200px;
        box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.4);
        
    }

    .informacion{
        background-color: var(--gris--);
        padding: 10% 2%;
        text-align: center;
    }
    .informacion img{
        margin-top: 10%;
        width: 100%;
        height: auto;
    }
    .botones{
        background-color: var(--gris--);
        width: 100%;
        height: 60px;
        align-items: center;
        justify-content: center;
        display: flex;
    } 

    button {
        background-color: var(--azul--);
        color: white;
        width: 120px;
        height: 40px;
        margin: 0 80px 0 80px;
        border: 0;
        cursor: pointer;
    }
    button:hover{
        background-color: var(--crema--);
        color: var(--azul--);
        border: 0;
    }

    .botones-horario {
        height: 60px;
        width: 80%;
        margin: 0% auto;
        margin-bottom: 3%;
        background-color: var(--gris--);
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
    /*horario*/
    .contenedorCalendario{
        display: grid;
    }
    
    .calendario{
        width: 80%;
        margin: 3% auto;
        grid-template-columns: auto repeat(5, 1fr);
        border-collapse: collapse;
      }
      
    .dias {
        display: grid;
        grid-template-rows: auto;       
        grid-template-columns: auto repeat(5, 1fr);
    }   
    .celda-vacia{
        width: 80px;
        padding: 5px;
        border: 1px solid #ccc;
        text-align: center;
        background-color: var(--gris--);
    }

    .celda-dias {
        padding: 5px;
        border: 1px solid #ccc;
        text-align: center;
        background-color: var(--gris--);
    }

    .celda-dia {
        padding: 5px;
        border: 1px solid #ccc;
        text-align: center;

    }

    .celda-horas {
        width: 80px;
        padding: 5px;
        border: 1px solid #ccc;
        text-align: center;
        background-color: var(--gris--);
    }

    .fila-hora {
        display: grid;
        grid-template-columns: auto repeat(5, 1fr);
    }

    .celda-dia:hover {
        background-color:var(--azul--);
        cursor: pointer;
        color: var(--blanco--);
    }
 
    .seleccionada {
        background-color: var(--azul--);
        color: var(--blanco--);
    }
}





@media screen and (max-width: 480px) {
    

    .principal{
        width: 100%;
        height: 650px;
        padding: 10% 2%;
        margin-bottom: 15%;
        
    }

    .titulo_contenedor{
        background-color: var(--crema--);
        display: grid;
        height: 60px;
        text-align: center;
        align-content: center; 
    }


    .container{
        width: 100%;
        height: 440px;
        display: grid;
        
    }

    .deportes{
        background-color: var(--gris--);
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        width: 100%;
        height: 60px;
    }
    .deportes a{ 
        text-decoration: none;
        text-align: center;
        align-content: center;
    }

    .canchas{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 380px;
    }

    .canchas img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .botones{
        background-color: var(--gris--);
        width: 100%;
        height: 80px;
        align-items: center;
        justify-content: center;
        display: flex;
    } 
    button {
        background-color: var(--azul--);
        color: white;
        width: 120px;
        height: 40px;
        margin: 0 50px 0 50px;
    }
}