:root{
    --azul--:#052E5E;
    --crema--: rgb(225, 215, 196);
    --blanco--: white;
    --gris--: #ECEFEF;
    --rojo--: #A60000;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 480px) {
  
    .principal{
        width: 100%;
        padding: 2% 2%;
        margin-bottom: 5%;
        
    }
    .fondoInicio{
        position:static;
        width: 100%;
        height: 540px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .fondoInicio img{
        width: auto;
        height: 540px;
    }

    .btnReservarInicio{
        position: absolute;
        margin: 0%;
        left: auto;
        top: 75%;
        border: none;
        cursor: pointer;
        background-color: rgba(255, 254, 254, 0.3);
        color: white;
        padding: 10px 20px; 
        border-radius: 10px; 
        transition: background-color 0.3s;
        width: 160px;
        height: 40px;
        
    }
    .titulo_contenedor{
        background-color: var(--crema--);
        display: grid;
        height: 50px;
        text-align: center;
        align-content: center; 
    }

    .container{
        width: 100%;
        height: 400px;
        display: grid;
        grid-template-columns: 20% 80%;
    }

    .nombre-deportes{
        background-color: var(--gris--);
        display: grid;
        grid-template-rows: 20% 20% 20% 20% 20%;
        width: 100%;
        height: 400px;
    }

    .deporte{ 
        border: solid 1px var(--blanco--); 
        text-decoration: none;
        text-align: center;
        align-content: center;
        color: var(--azul--);
        cursor: pointer;
    }

    .deporte:hover{
        background-color: var(--azul--);
        color: var(--gris--);
    }

    .nombre-implementos{
        background-color: var(--gris--);
        display: grid;
        grid-template-rows: 20% 20% 20% 20% 20%;
        width: 100%;
        height: 400px;
    }

    .implemento{ 
        border: solid 1px var(--blanco--); 
        text-decoration: none;
        text-align: center;
        align-content: center;
        color: var(--azul--);
        cursor: pointer;
    }

    .implemento:hover{
        background-color: var(--azul--);
        color: var(--gris--);
    }

    .canchas{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 380px;
    }

    .cancha-image{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .botones{
        background-color: var(--gris--);
        width: 100%;
        height: 60px;
        align-items: center;
        justify-content: center;
        display: flex;
    } 

    button {
        background-color: var(--azul--);
        color: white;
        width: 120px;
        height: 40px;
        margin: 0 80px 0 80px;
        border: 0;
        cursor: pointer;
    }
    button:hover{
        background-color: var(--crema--);
        color: var(--azul--);
        border: 0;
    }
}





@media screen and (max-width: 480px) {
    

    .principal{
        width: 100%;
        height: 650px;
        padding: 10% 2%;
        margin-bottom: 15%;
        
    }

    .titulo_contenedor{
        background-color: var(--crema--);
        display: grid;
        height: 60px;
        text-align: center;
        align-content: center; 
    }


    .container{
        width: 100%;
        height: 440px;
        display: grid;
        
    }

    .deportes{
        background-color: var(--gris--);
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        width: 100%;
        height: 60px;
    }
    .deportes a{ 
        text-decoration: none;
        text-align: center;
        align-content: center;
    }

    .canchas{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 380px;
    }

    .canchas img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .botones{
        background-color: var(--gris--);
        width: 100%;
        height: 80px;
        align-items: center;
        justify-content: center;
        display: flex;
    } 
    button {
        background-color: var(--azul--);
        color: white;
        width: 120px;
        height: 40px;
        margin: 0 50px 0 50px;
    }
}