:root{
    --azul--:#052E5E;
    --crema--: rgb(225, 215, 196);
    --blanco--: white;
    --gris--: #ECEFEF;
    --rojo--: #A60000;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.modal{
    position: fixed;
    z-index: 555;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.is-open{
    display: flex;
}

.modal-container{
    display: grid;
    position: relative;
    width: 80%;
    height: 640px;
    padding: 30px 80px;
    grid-template-rows: 60px 40px 410px 60px;
    background-color: white;
    border-radius: 10px;
    
}

.modal-titulo{
    display: flex;
    background-color: var(--azul--);
    color: var(--blanco--);
    justify-content: center;
    align-items: center;
}

.modal-seleccionar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-botones{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15%;
    background-color: var(--gris--);
}

.modal-botones button{
    background-color: var(--azul--);
    color: white;
    width: 180px;
    height: 40px;
    border: 0;
    cursor: pointer;
}
.modal-botones button:hover{
    background-color: var(--crema--);
    color: var(--azul--);
    border: 0;
}

.cards-modal{
    display: flex;
    flex-wrap: wrap; 
    padding: 1% 3% ;
    row-gap: 20px;
    column-gap: 10%;
    /* height: 380px; */
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

/*Horario*/
.contenedorCalendario{
    display: grid;
}

.calendario{
    width: 80%;
    margin: 10px auto;
    grid-template-columns: auto repeat(5, 1fr);
    border-collapse: collapse;
    font-size: 16px;
  }
  
.dias {
    display: grid;
    grid-template-rows: auto;       
    grid-template-columns: auto repeat(5, 1fr);
}   
.celda-vacia{
    width: 80px;
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: var(--gris--);
}

.celda-dias {
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: var(--gris--);
}

.celda-dia {
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;

}

.celda-horas {
    width: 80px;
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: var(--gris--);
}

.fila-hora {
    display: grid;
    grid-template-columns: auto repeat(5, 1fr);
}

.celda-dia:hover {
    background-color:var(--azul--);
    cursor: pointer;
    color: var(--blanco--);
}

.seleccionada {
    background-color: var(--azul--);
    color: var(--blanco--);
}

/*informacion resumen*/
.contenedor-informacion{
    display: grid;
    justify-content: center;
    
}
.contenedor-informacion div{
    display: flex;
    
}
.contenedor-informacion h3{
    width: 360px;
}
