:root{
    --azul--:#052E5E;
    --crema--: rgb(225, 215, 196);
    --blanco--: white;
    --gris--: #ECEFEF;
    --rojo--: #A60000;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* pc */
@media screen and (min-width: 480px) {
        
    header{
        display: grid;
        width: 100%;
        height: 150px;
        position:sticky;
        top: 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    }

    .encabezado1{
        width: 100%;
        height: 40px;
        background-color: var(--azul--);
        display: grid;
        justify-content: end;
        align-items:center;
    }
    .encabezado1 a {
        display: flex;
        align-items: center;
        width: 50px;
        height: auto;
        margin-right: 20px;
    }
      
    .encabezado1 a img {
        width: 30px;
        border-radius: 50%;
    }

    .encabezado2{
        background-color: var(--blanco--);
        width: 100%;
        height: 70px;
        font-size: 12px;
        align-items: center;
        text-align: center;
        display: grid;
        grid-template-columns: 30% 40% 30%;
    }

    .imgAdorno{
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .imgAdorno img{
        max-width: 100%;
        height: 70px;
        object-fit: cover;
        object-position:left;
    }
    
    .logoEPN img{
        height:67px;
        padding-top: 2px;
    }

    nav{
        background-color: var(--gris--);
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        width: 100%;
        height: 40px;
    }

    nav a{
        text-decoration: none;
        text-align: center;
        align-content: center;
        color: var(--azul--);
        cursor: pointer;
    }

    nav a:hover{
        background-color: var(--azul--);
        color: var(--gris--);
    }

    .enlace-seleccionado { 
        background-color: var(--azul--);
        color: var(--blanco--);
    }
}

/* celular */
@media screen and (max-width: 480px) {
        

    header{
        display: grid;
        width: 100%;
        height: 180px;
        position:sticky;
        top: 0;
        
    }

    .encabezado1{
        width: 100%;
        height: 50px;
        background-color: var(--azul--);
    }
    .encabezado2{
        background-color: var(--blanco--);
        width: 100%;
        height: 80px;
        font-size: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        display: grid;
        grid-template-columns: 30% 70% 0%;
    }
    .contorno img{
        width: 0;
    }
    
    .logo img{
        height:70px;
        margin: 5px;
    }

    nav{
        width: 100%;
        height: 50px;
        align-items: center;
        background-color: var(--gris--);
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        text-align: center;
    }

    nav a{
        text-decoration: none;
    }
}